---
import Layout from "../layouts/Layout.astro";
import * as Marky from "../components/Marky.md";
---

<Layout title="Iterativ Innovasjon">
  <div class="reveal">
    <div class="slides">
      <section>
        <h2>Iterativ innovasjon</h2>
        <p style="font-size: 2.2rem">
          En reise fra treg til rask datamigrering
        </p>
      </section>
      <section>Slide 2</section>
    </div>
  </div>
</Layout>
<script is:inline>
  Reveal.initialize({
    plugins: [RevealMarkdown],
  });
</script>

<style></style>
