---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Iterative-Innovasjon/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/Iterative-Innovasjon/reveal.js/reveal.css" />
    <link
      rel="stylesheet"
      href="/Iterative-Innovasjon/reveal.js/theme/moon.css"
    />
    <script is:inline src="/Iterative-Innovasjon/reveal.js/reveal.js"></script>
    <script
      is:inline
      src="/Iterative-Innovasjon/reveal.js/plugin/markdown/markdown.js"
    ></script>
    <script
      is:inline
      src="/Iterative-Innovasjon/reveal.js/plugin/notes/notes.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
